/try
/hardest.txt
/1.txt
/sudoku.pyc
/A-large-practice.in
/A-large-practice.out
/A-small-practice.in
/A-small-practice.out
/C-large-practice.in
/C-large-practice.out
/C-small-practice.in
/C-small-practice.out
/B-large-practice.in
/B-large-practice.out
/B-small-practice.in
/B-small-practice.out
/A-small.out
/A-small-attempt0.in
/A-small-attempt1.in
/C-small.out
/D-large.out
/D-small.out
/.pydevproject
/A-small-0.in
/A-small-0.out
